#title {
  text-align: center;
}

#questions {
  /* text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd; */
  /* make center */
  margin: auto;
  width: 80%;
}

#button_new {
  /* float: right; */
  /* display: flex; */
  /* margin: 1px 60px 1px 1px; */
  border-radius: 15px;
}

body pre {
  background: aliceblue;
  padding: 0px 10px 0px 10px;
}

#space_above {
  align-items: center;
  float: right;
  display: flex;
  margin: 0px 10% 0px 0px;
}

/* #search_button {
  border-radius: 15cm;
} */
/* .ant-space-align-center {
  
} */
