.site-card-wrapper {
    margin: auto;
    width:80%;
    padding: 30px;
    background: #ffff;
  }

.photo {
    height: 100px;
    width: 100px; 
    align-items: center;
}

.h4{
  text-overflow: ellipsis;
}


.ant-list-item{
  margin: auto;
  padding: 24px;
}

.ant-badge:not(.ant-badge-not-a-wrapper) {
  margin : auto;
  margin-right: 20px;
}
.ant-badge.ant-badge-rtl:not(.ant-badge-not-a-wrapper) {
  margin : auto;
  margin-right: 0;
  margin-left: 20px;
}
