.h1{
  margin : auto;
}

.site-card-wrapper {
    margin: auto;
    width:80%;
    padding: 30px;
    background: #ffff;
  }

.photo {
    height: 100px;
    width: 100px; 
    align-items: center;
}

.h4{
  text-overflow: ellipsis;
}


.ant-list-item{
  margin: auto;
  padding: 24px;
}

.ant-badge:not(.ant-badge-not-a-wrapper) {
  margin : auto;
  margin-right: 20px;
}
.ant-badge.ant-badge-rtl:not(.ant-badge-not-a-wrapper) {
  margin : auto;
  margin-right: 0;
  margin-left: 20px;
}

.ant-radio-checked .ant-radio-inner{
  border-color: indianred !important ;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: indianred;
}

.ant-radio:hover .ant-radio-inner {
  border-color: indianred ;
}

#qih_asses {
  width: 70%;
  margin: auto;
  background-color: rgb(167, 211, 224);
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}