.body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  #button_submit {
    margin: 10px auto;
    display: flex;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding-left: 50px;
  }

  .result--section {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    /* padding-left: 40px; */
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  

  .result--body{
    margin: auto;
    display: flex;
    font-weight: 600;
    align-items: center;
    padding: 20px 20px;
  }
  
  .input-row{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 20px;

  }

  .input-row > label {


    max-width: 15%;
    padding-top: 30px;
    font-weight: bold;

  }
  .input-row > Input, select {
    max-width: 40%;
    width: 40%;
    height: 50px;   
    margin: 20px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: white;
  }

  .input-tag{
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 20px;
    padding-top: 100px;

  }

  .input-tag > label {


    max-width: 15%;
    padding-top: 30px;
    font-weight: bold;

  }
  
  .input-row--left{
    /* display: flex; */
    justify-content: left;
    text-align: left;
    padding-left: 20px;
  
 
  }

  .input-row--left > label {

    max-width: 15%;
    padding-top: 30px;
    /* padding-left: 20px; */
    padding-right: 20px;
    font-weight: bold;

  }
  .input-row--left > Input, select {
    max-width: 40%;
    width: 30%;
    height: 50px;   
    margin: 20px auto;
    padding-left: 20px;
    /* display: flex; */
    justify-content: left;
    text-align: center;
    border-radius: 10px;
    background-color: white;
  }

  .input-row--left > TextArea {
    max-width: 40%;
    width: 40%;
    height: 500px;   
    margin: 20px auto;
    padding-left: 20px;
    /* display: flex; */
    justify-content: left;
    text-align: left;
    vertical-align: text-top;
    border-radius: 10px;
    background-color: white;


  }
  .input-row--left > button {
    margin-left: 20px;
    position: relative;
    margin-bottom: 0;
  
  }
  .button-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    
  }
  .button-row--left{
    display: flex;
    justify-content: left;
    gap: 30px;
    padding-top: 10px;
    padding-left: 20px;
    
  }
  .button-row--right{
    display: flex;
    justify-content: right;
    gap: 30px;
    padding-top: 20px;
    padding-right: 20px;
    
  }
  .submit-btn{

    position: relative;
    bottom: 10px;
    top: 1px;
    /* right: 18px; */
    width: 100px;
    height: 50px;
    
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1f65e6;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    
}
.submit-btn:active{
    color: #1f65e6;
    background-color: white;

    
}